* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee", cursiva;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(75, 63, 63);
}

html {
  overflow-x: hidden;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

header,
footer {
  background-color: #205e2b;
  padding-top: 16px;
  color: #050505;
}

header > .container,
footer > .container {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

nav {
  background-color: #000000;
  padding: 16px 0;
  display: none;
}

nav li {
  list-style: none;
  display: inline;
  margin-right: 16px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

nav li a {
  color: #b3b3b3;
  text-decoration: none;
}

.menu-hamburguer {
  width: 32px;
}

.menu-hamburguer span {
  height: 2px;
  width: 100%;
  background-color: #fff;
  display: block;
  margin-bottom: 4px;
  cursor: pointer;
}

.container-flex {
  display: flex;
}

.loja-flex {
  display: flex;
}

#sobre-a-loja img {
  max-width: 600px;
  margin-right: 26px;
}

section {
  padding: 35px 0;
}

section h2 {
  margin-bottom: 16px;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  align-items: center;
  margin-bottom: 16px;
}
.lista-produtos {
  display: grid;
  grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
  column-gap: 2%;
  list-style: none;
  align-items: center;
}

.lista-produtos img {
  width: 180px;
  margin: 0, 5%;
}

button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #119759;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  border-radius: 6px;
}

.price {
  margin: 16px 0;
  display: block;
}

.price del {
  color: #9b9797;
  font-size: 14px;
}

.form-campo {
  margin-bottom: 16px;
}

.form-campo label {
  font-weight: bold;
  display: block;
}

.form-campo input,
.form-campo textarea {
  width: 100%;
  display: block;
  padding: 8px;
}

.form-campo textarea {
  resize: none;
  height: 120px;
}

form {
  max-width: 360px;
}

form button {
  max-width: 120px;
}

footer li {
  list-style: none;
  margin-left: 16px;
}

footer li img {
  height: 22px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  body {
    overflow-x: hidden;
  }

  .loja-flex {
    display: block;
    font-size: 1em;
  }

  .loja-flex img {
    width: 300px;
  }

  .lista-produtos {
    grid-template-columns: repeat(2, 52%);
  }

  .lista-produtos li {
    margin-bottom: 20px;
  }

  header > .container,
  footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 32px;
  }

  .container {
    max-width: 100%;
  }

  .loja-flex {
    display: block;
    margin-bottom: 5px;
  }

  .loja-flex img {
    max-width: 100%;
  }

  .loja-flex p {
    font-size: 1.5em;
  }

  .lista-produtos {
    grid-template-columns: repeat(2, 49%);
    gap: 32px;
    align-items: center;
  }

  .lista-produtos img {
    width: 100%;
  }

  h3 {
    font-size: 2em;
  }

  p,
  .price {
    font-size: 1.5em;
  }

  del {
    font-size: 32px;
  }
}
